*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
}

img{
    height: auto;
    width: 5%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 5 1 300px;
    padding-top: 20px;
    
}

.menu{
    display: flex;
    flex-direction: column;
    width: 30%;
    
    
}

.menu_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    
}

.menu_img{
    height: 100%;
    width: 15%;
    padding-left: 10px;
}

.menu_text{
    display: inline-block;
  color: white;
  padding: .5em 2em;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
}

.menu_text:hover{
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.data{
    display: flex;
    border: 1px solid black;
    margin-top: 5px;
    height: 5vh;
}

.display{
    width: 68%;    
}

.graf{
    display: flex;
    border: 1px solid black;
    margin-top: 5px;
    height: 40vh;
}